@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.cabecalho{
    display: flex;
    width: 100vw;
    height: 20vh;
    position: fixed;
    background-color: #160040;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    z-index: 2;
}
.sobremim{
    padding-top: 20vh;
}
.cabecalho-menu-lista{
    list-style: none;
}

.cabecalho-menu-lista-item{

    display: inline-block;
    padding: 0px 20px;
}

.cabecalho-menu-lista-item a{
    text-decoration: none;
    font-style: none;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    transition: all 0.3s ease 0s;
}

.cabecalho-menu-lista-item a:hover{
    color: purple;
}

.cabecalho-menu-logo{
    margin-right: auto;
}
.cabecalho-menu-logo img{
    cursor: pointer;
    width: 60px;
    height: 60px;
}
section{
    display: flex;
    color: rgb(154, 6, 128);
    width: 100%;
    height: 100vh;
}

.sobremim{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
    url(images/background01.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}


h1{
    z-index: 1;
    margin-top: 10px;
    position: absolute;
    align-self: stretch;
    background-color: rgba(0, 0, 0, 0.75);
    font-family: 'Josefin Sans', sans-serif;

}

.sobremim-textbox{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: rgba(121, 1, 140, 0.75);
    border: 10px solid rgb(76, 0, 112);
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    padding: 20px;
    width: 80vw;
    height: 60vh;
}

.escritores-pensadores{

    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
    url(images/background03.jpg);
    background-size: cover;
}

.escritores-pensadores-container,  .tecnologias-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.escritores-pensadores-container-painel, .tecnologias-container-painel{
    display: flex;
    justify-content: center;
    overflow: auto;
    border: 6px solid black;
    margin: 10px;
    width: 30%;
    height: 30vh;
    background-color: rgba(121, 1, 140, 0.7);

}
.personagens-container-painel{
    width: 20%;
}
.nome-pensador{
    display: flex;
    position: absolute;
    align-self: flex-end;
    transition: width 0.2s, height 0.2s;
    width: 0vw;
    height: 0vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    font-family:'Josefin Sans', sans-serif ;
    font-size: 20px;
    color: rgba(0, 0, 0, 0);
    overflow: hidden;
}

.escritores-pensadores-container-painel:hover .nome-pensador{
    width: 30%;
    height: 5vh;
    color: rgb(154, 6, 128);
}


.tecnologias{
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
    url(images/background05.jpg);
    background-size: cover;
}

.tecnologias-container{
    display: flex;
    align-items: center;
}

.tecIcon{
    align-self: center;
    width: 10vw;
}

.faq{
    font-family:'Josefin Sans', sans-serif ;
    color: white;
    display: flex;
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ),
    url(images/background04.jpg);
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.faq-box{
    background-color: rgba(76, 0, 112, 0.75);
    width: 50vw;
    height: 60vh;
    border: 6px solid black;
}

.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 0, 64, 0.75);
    width: 100%;
    height: 15vh;
    overflow: auto;
    text-align: center;

}
.resposta{
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 30px;
}
.faq-botoes{
    width: 100%;
    display: flex;
    justify-content: center;
}

.faq-botoes-botao{
    color: white;
    background-color: black;
    border-radius: 50px;
    border: 2px solid white;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    padding: 1vw;
}

.faq-botoes-botao:hover{
    color: black;
    background-color: white;
    border: 2px solid black;
}

